body{
    height: 200vh;
}


/* navbar */

.navbar , .navbar-brand{
    transition: all 0.5s ease !important;
}

.size-down{
    padding: 0 !important;
    transition: all 0.5s ease !important;   
}

.size-down .navbar-brand{
    font-size: 1.5rem !important;
    transition: all 0.5s ease !important;   
}

.navbar-nav .nav-link{
    color: var(--bs-light );
} 

.navbar-nav .nav-link{
    position: relative;
    z-index: 1;
}                                   

.navbar-nav .nav-link::before{
    content: "";
    background-color: red;
    width: 0;
    height: 2px;
    position: absolute;
    bottom: 0;    
    left: 0;
    transition: all ease 0.5s;
}

.navbar-nav .nav-link:hover::before{
    width: 100%;
}

.add-pointer{
    cursor: pointer;
}